-#TODO need to dry up registration header. Used in sessions#new, users#new, and registrations#new.

#page
  %header#header.site-header
    = render "landing_pages/header"

  %main#main.site-main
    .container
      .row
        .col-xs-8.col-xs-offset-2
          %h4
            We've sent you an email with password reset instructions to:
            %span{class: "blue"}
              = @user.email








