%main#main.site-main
  .container
    .row
      #signin
        .col-xs-4.col-xs-offset-4
          %h1 Request Password

          = form_tag password_resets_path do
            .form-group
              = label_tag "Email Address"
              = email_field_tag :email, nil, class: "form-control"
            .form-group
              = submit_tag "Request New Password", class: "btn btn-large btn-success"
