.container
  = image_tag attachments["logo_handwriting.png"].url, style: "width: 700px; margin-left: 25%;"


  -#Css classes are not being loaded. Premailer gem is supposed to handle
  .col-md-8.col-md-offset-2.mt50{style: "width: 50%; margin: 20px auto"}
    .panel.panel-success
      .panel-heading{style: "background-color: yellowgreen !important"}
        .panel-title
          %h2.text-center Reset Password
      .panel-body
        %h3.text-center
          You, or someone pretending to be you, wants to reset your password
        %p.mt50
          If you were the one to request a password reset click the link below.
        %P
          = link_to @reset_link, @reset_link, class: "blue underline"

      .panel-footer
        %h5
        = link_to "LaunchIt", "#", class: "blue underline text-center"
