.container
  = image_tag attachments["logo_handwriting.png"].url, style: "width: 700px; margin-left: 25%;"

  -#Css classes are not being loaded. Premailer gem is supposed to handle
  .col-md-8.col-md-offset-2.mt50{style: "width: 50%; margin: 20px auto"}
    .panel.panel-success
      .panel-heading{style: "background-color: yellowgreen !important"}
        .panel-title
          %h2.text-center Thanks for signing up.
      .panel-body.pr30.pl30
        %h3.text-center Keep an eye out for updates in the coming weeks.
        %p
          Our first tool is available now. It converts water to gasoline
        %p
          We are planning on rolling out some more great tools soon.

        %h3 Things you can start doing now
        %ul
          %li Thing 1
          %li Thing 2
          %li Thing 3
          %li Thing 4


        %h3 Check out some cat videos
        %p
          Because the internet runs on
          = link_to "cat videos.", "https://www.youtube.com/watch?v=G4Sn91t1V4g&list=PLRJ3wP0JDyti94Op1oLm4fKZEtC_c36NI", class: "underline blue"

      .panel-footer
        %h5
        = link_to "LaunchIt", "#", class: "blue underline text-center"
