.container
  #sidebar-footer-1
    .row
      %aside.widget.col-md-4.col-md-push-4
        %h5.widget-title Contact us
        %p
          Tell us what you think or connect with us at
          %a{:href => "mailto:david@ladowitz.com?Subject=Little Cat Labs"} david@ladowitz.com
  .copyright
    %p
      © 2015 LaunchIt
      %br
