/*
 * Manifest for guest facing pages.
 * Note that 'guest_pages/guest.css' has been added to Rails.application.config.assets.precompile in assets.rb
 *
 *= require_self
 //= require guest_pages/guest_template_start
 //= require ../shared/shared
 */

// guest_template_start.css has overidden bootstrap classes.
// Uncomment next line if need original bootstrap classes.
// @import "bootstrap";

@import "font-awesome";

//////// Styles limited to the landing page \\\\\\\\\\

.main_content {
  background-color: rgba(255,255,255,0.75);
  border-radius: 5px;
  min-height: 300px !important;
}
