.row
  .col-lg-8
    .ibox.float-e-margins
      .ibox-content
        .row
          %ul
            - @users.each do |user|
              %li
                %h2= link_to user.first_name.capitalize, user_path(user)
