.row
  .col-lg-8
    .ibox.float-e-margins
      .ibox-title
        %h3
          Here is what people you are following are saying
      .ibox-content
        .row
          .posts.m-t-lg
            .no-posts.m-l-lg
              %h4= link_to "See all users", users_path

