.container
  #sidebar-footer-1
    .row
      %aside.widget.col-md-4.col-md-push-4
        %h5.widget-title Contact us
        %p
          Tell us what you think
          %a{:href => "mailto:david@tradecrafted.com?Subject=Founder Traits"} david@tradecrafted.com
  .copyright
    %h3
      Hand made with the finest materials at
      = link_to "Tradecraft", "http://tradecrafted.com"
      %br
