.section-title
  - @founders.each do |founder|
    .col-sm-4
      .panel.panel-primary
        .panel-heading
          %h3.panel-title= founder.name
        .panel-body= founder.quote

.row
  .col-sm-12.mt100
    = link_to "Add A Founder", new_founder_path, class: "btn btn-primary"
