.section-title
  .col-sm-4.col-sm-offset-4
    .panel.panel-primary
      .panel-heading
        .panel-title.fsize-25= @founder.name
      .panel-body
        .profile{style: "background-image: url(#{@founder.image_url})"}
        - @founder.traits.each do |trait|
          %li.fsize-20.no-bullet= trait.name
      %hr
        %em
          "
          = @founder.quote
          "
