/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 //= require templates/bootstrap.min
 //= require templates/animate
 //= require templates/main_template_inspina
 //= require shared/shared
 */


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";

//Bootstrap is overwriting style.css when called from the gem. Maybe find a way to have style called last
//  @import "bootstrap";

@import "font-awesome";


//////// Styles limited to the main app \\\\\\\\\\

.green {
  color: green;
}


.ibox-content {
  .post {
    width: 90%;
  }
}


  .post {
    background: #DFDFE2;
    padding: 20px;
    width: 45%;
    border-radius: 5px;
  }

