.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2= @page_name
  %ul.nav.navbar-top-links.navbar-right
    %li
      = link_to session_path(current_user), method: :delete do
        Sign Out
        %i.fa.fa-sign-out
